@model PUS.ViewModels.ChatViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}


<script>
    $('#message-form').submit(function (e) {
        e.preventDefault();

        console.log("proced");
        var formData = new FormData(this);

        console.log(formData);

        $.ajax({
            type: "POST",
            url: "/Chat/AddMessage",
            cache: false,
            processData: false,
            contentType: false,
            data: formData,
            headers:
            {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            success: function (response) {
                $("#partialModal").find(".modal-content").html(response);
                console.log("sukces");
                console.log(response);
            },
            failure: function (response) {
                console.log("fail");
                console.log(response);
            },
            error: function (response) {
                console.log("error");
                console.log(response);
            }
        });
    });
</script>

<div class="modal-header">
    <h5 class="modal-title" id="ModalTitle"><i class="fa-solid fa-comments"></i> Ustalenia</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    <div class="container">
        <div class="row">

            <div class="alert alert-success w-100" role="alert">
                <b>@Model.serviceTitle</b>
            </div>
            <div id="chat-lines" class="mb-2" style="max-height: calc(60vh); max-width:inherit; overflow-y: auto; display: flex; flex-direction: column-reverse;">
                @foreach (var item in Model.chatLines)
                {
                    var color = item.Direction == MessageDirection.From ? "bg-info" : "bg-warning";
                    var side = item.Direction == MessageDirection.From ? "text-end" : "text-start";
                    <div class=@side>
                        <sub>@item.CreatedAt</sub>
                        <br />
                        <div class="badge rounded-3 bg-info @color text-wrap @side px-2 py-1">
                            <h6>@item.Text</h6>
                        </div>
                    </div>
                }
            </div>

            <form id="message-form">
                <div class="input-group w-100">
                    <input type="hidden" name="serviceID" value="@Model.serviceID" />
                    <input type="hidden" name="serviceTitle" value="@Model.serviceTitle" />
                    <input type="hidden" name="chatID" value="@Model.chatID" />
                    <input type="hidden" name="currentUserID" value="@Model.currentUserID" />
                    <input type="text" class="form-control" name="message" placeholder="Wiadomość" aria-label="Czat" />
                    <button class="btn btn-outline-secondary" type="submit">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Zamknij
    </button>
    <button onclick="" type="button" class="btn btn-outline-success">
        <i class="fa-solid fa-right-left"></i>
    </button>
</div>
